@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --custom-color: #6C48D7;
  --black-color: #27282c;
  --items-color: #FFF;
}

ul{
  list-style: none;
  padding: 0;
}

.App {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todolists{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.todolist-form{
  min-width: 320px;
  width: clamp(320px, 30vw, 500px);
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0px 5px 30px -5px rgba(34, 60, 80, 0.6);
  padding: 15px;
  margin-bottom: 40px;
  text-align: center;
  background-color: var(--items-color);
}

.todolist{
  min-width: 320px;
  width: clamp(320px, 30vw, 500px);
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0px 5px 30px -5px rgba(34, 60, 80, 0.6);
  padding: 15px;
  margin-bottom: 40px;
  background-color: var(--items-color);
  margin-right: 30px;
}

.todolist-heading{
  font-size: clamp(22px, 5vw, 27px);
  color: var(--custom-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.app-heading{
  width: 50%;
  margin-bottom: 50px;
  font-size: 32px;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #cacaca;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--custom-color);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.todolist-form-heading{
  margin-bottom: 15px;
}

.todolist-description{
  margin-top: 0;
  color: #858585;
}

.input-title{
  width: 79%;
  height: 30px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.input-title:focus, 
.input-title:active{
  outline: 2px solid var(--custom-color);
}

.btn-add{
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--custom-color);
  color: #FFF;
  cursor: pointer;
  text-align: center;
}

.filter-btns{
  width: 100%;
  margin-top: 10px;
}

.filter-btn{
  border: 1px solid #cacaca;
  padding: 5px 25px;
  cursor: pointer;
  transition: all .2s ease;
  color: #27282c;
  background-color: #ebebeb;
}

.filter-btn:first-child{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.filter-btn:last-child{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.list{
  max-height: 400px;
  overflow-y:auto;
}

/* custom scrollbar */

.list::-webkit-scrollbar {
  width: 12px;
}
.list::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 20px;
}
.list::-webkit-scrollbar-thumb {
  background-color: var(--custom-color);
  border-radius: 20px;
  border: 3px solid #dddddd;
}

/* ---------------- */

.item{
  border: 1px solid #cacaca;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.item:not(:last-child){
  margin-bottom: 10px;
}

.custom-checkbox{
  margin-right: 10px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-checkbox:checked+label::before {
  border-color: var(--custom-color);
  background-color: var(--custom-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.item-title{
  text-align: start;
  margin-right: auto;
}

.error{
  outline: 2px solid red;
}

.error-message{
  width: 100%;
  color: red;
  border-top: 2px solid rgba(235, 82, 82, 0.323);
}

.active-filter{
  background-color: var(--custom-color);
  color: #FFF;
}

.completed{
  opacity: 0.7;
  text-decoration: line-through;
}

.delete-btn{
  min-width: 27px;
  width: 27px;
  min-height: 27px;
  height: 27px;
  border: none;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  background-image: url(../img/svg/delete.svg);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: background-color .2s ease;
}

.delete-btn:hover{
  background-color: #cacaca7e;
}

.todolist-delete-btn{
  background-size: contain;
  margin-left: auto;
  margin-bottom: 0px;
}

.footer{
  width: 100%;
  height: 50px;
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #cacaca;
}

.link{
  color: var(--custom-color);
  text-decoration: underline;
  margin-left: 3px;
  margin-right: 3px;
}

.gh-icon{
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/github.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: 20px;
  transition: transform .2s ease;
}

.gh-icon:hover{
  transform: scale(1.15);
}

@media (max-width: 760px){
  .App{
    padding: 5px;
  } 
  .app-heading{
    width: 90%;
  }

  .todolist-form{
    width: 95%;
  }

  .input-title{
    height: 40px;
    font-size: 16px;
  }

  .btn-add{
    height: 40px;
  }

  .todolist{
    width: 95%;
  }

  .filter-btn{
    padding: 10px 30px;
    font-size: 16px;
  }

  .todolist{
    margin-right: 0px;
  }

  .item{
    height: 50px;
    font-size: 20px;
  }
}